h1 Eliminar tarea

form(action="", method="POST") 
  p Descripción de la Tarea
  select(name="desc")
    each variable in task
      option(value=variable.id) #{variable.descripcion}

  p
    input(type="submit", value="Eliminar tarea")

  p
  button(type='submit' onclick="")
    a(href="/") Inicio

