extends layout

block content
  h1 Menú de opciones

  p
  button(type='submit' onclick="")
    a(href="/crear") Nueva tarea 

  p
  button(type='submit' onclick="")
    a(href="/tareas/U001") Mis tareas

  p
  button(type='submit' onclick="")
    a(href="/eliminar") Eliminar tarea

