extends layout

block content
  h1 Crear tarea

  p Usuario 
  input#id(type="text" name="user" value="U001")
  
  p Fecha
  input#fecha(type='date', name='fecha', value='')

  p Descripcion de la tarea
  textarea#descripcion(name="", cols="30", rows="10") 

  p
  button(onClick="crear()") Crear
