if user 
    
    h1 Tareas del mes   
    
    each val, index in user

        h3 USUARIO
        p Nombre: #{user[0][index].nombre}

        h3 TAREAS
        each val1, index1 in task[0]
            p Fecha: #{task[0][index1].fecha}
            p Tarea: #{task[0][index1].descripcion}
    
    button(type='submit' onclick="")
        a(href="/") Inicio
else 
    p Datos no encontrados


